body {
	background-color: white;
	font-family: Helvetica;
}
h1 {
	font-family: 'Mosk', sans-serif;
	font-weight: 900;
	font-size: 60px;
	margin-top: 37vh;
}
.hero {
	text-align: center;
	letter-spacing: 3px;
	height: 90vh;
	color: rgb(84, 92, 4);
}
.hero h1 {
	color: rgb(84, 92, 4);
	font-size: 4em;
}
.hero h2 {
	color: rgb(84, 92, 4);
	font-weight: 200;
	font-family: 'Mosk', sans-serif;
}
.grade {
	font-size: 1.5em;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 0px;
}
.eighth p, .eighth h4 {
	margin-left: 10px;
}
svg {
	fill: black;
}
.content {
	min-width: 300px;
	max-width: 1200px;
	width: 80vw;
	margin: 0 auto;
	/*background-color: yellow;*/
}
.img {
	width: 500px;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}
.nav {
	font-family: 'Mosk', sans-serif;
	font-weight: 600;
	top: 20px;
	overflow: hidden;
	position: fixed;
	width: 100vw;
}
.nav a {
	z-index: 10;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	float: left;
	color: #333447;
	text-align: center;
	padding: 14px 16px;
	margin-right: 25px;
	text-decoration: none;
	font-size: 17px;
}
.nav a:hover {
	opacity: 0.8;
}
.nav-right a {
	float:right;
}
.week {
	z-index: -1;
}
.week span {
	height:80px;
	display: inline-block;
}
.week h1 {
	margin-top: 0px;
}
.week h2 {
	text-transform: lowercase;
	font-family: 'Mosk', sans-serif;
	font-weight: 200;	
	font-size: 20px;
	margin-bottom: -10px;
	/*position: relative;
	top: 10px;*/
}
.week ul {
	list-style: none;

}
.week li {
	margin-left: -40px;
	padding-left: 0px;
}

.activity  {
		/*text-decoration: underline 2px;
		text-underline-offset: 5px; */
}
#week1 * {

}
#week2 * {
	color: rgb(235, 223, 188);
}

#week3 * {
	color: rgb(145, 13, 24);
}
#week5 * {
	color: rgb(37, 71, 99);
}

#week7 * {
	color: #dda15e;
}
.spacer {
	height: 400px;
}
button {
	background-color: none;
	border:rgb(235, 223, 188) ;
	padding: 15px 32px;
	cursor: pointer;

}
/***

COLORS FOR BODY BACKGROUND CHANGE

***/
.one{
	background-color: rgb(211, 235, 212);
	transition: all 1.5s ease-in-out;
}

.brown {
	background-color: rgb(74, 46, 13);
	transition: all 1s ease-in-out;
}

.two {
	background-color: rgb(37, 71, 99);
	transition: all 1s ease-in-out;
}

.three {
	background-color: rgb(235, 229, 211);
	transition: all 1s ease-in-out;
}
.five {
	background-color: rgb(252, 217, 240);
}

.seven {
	background-color: #283618;
}

.eight {
	background-color: #f9c74f;
}
.nine {
	background-color: #76949f;
}






@font-face {
    font-family: 'Mosk';
    src: url('../fonts/mosk_extra-light_200-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk';
    src: url('../fonts/mosk_semi-bold_600-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk';
    src:  url('../fonts/mosk_ultra-bold_900-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}