
body {
    background-color: white;
}
.content {
    min-width: 300px;
    max-width: 1200px;
    width: 80vw;
    margin: 0 auto;
}

#week1 h1,#week1 h2,#week1 h3 {
    color: rgb(84, 125, 92);
}
#week2 h1,#week2 h2,#week2 h3 {
    color: rgb(30, 92, 143);
}


#week3 h1,#week3 h2,#week3 h3 {
    color: rgb(145, 13, 24);
}

#week5 h1,#week5 h2,#week5 h3, #week5  {
     color: rgb(250, 185, 228);

}
#week5 .collapsible {
    background-color: rgb(222, 133, 192)
}
#week5 .collapsible:hover {
    background-color: rgb(250, 185, 228)
}

#week7 h1,#week7 h2,#week7 h3, #week7 {
     color: #606c38;

}
#week7 .collapsible {
    background-color: #606c38;
}
#week7 .collapsible:hover {
    background-color: #283618;
}

#week8 h1,#week8 h2,#week8 h3, #week8 {
     color: #f9c74f;

}
#week8 .collapsible {
    background-color: #f9c74f;
}
#week8 .collapsible:hover {
    background-color: #ca9d00;
}

#week9 h1,#week9 h2,#week9 h3, #week9 {
     color: #495867;

}
#week9 .collapsible {
    background-color: #495867;
}
#week9 .collapsible:hover {
    background-color: #284b63;
}
#week10 h1,#week10 h2,#week10 h3, #week10 {
     color: orange;

}
#week11 h1,#week11 h2,#week11 h3, #week11 {
     color: #a5c466
;

}



h1 {
    font-size: 4em;
    font-weight: 900;
    font-family: 'Mosk', sans-serif;
    margin: 0px 0px 25px 0px;

}
h2 {
    font-size: 2em;
    font-weight: 200;
    text-transform: lowercase;
    font-family: 'Mosk', sans-serif;
    margin-bottom: -10px;
}
h3 {
    font-family: 'Mosk', sans-serif;
    font-size: 2em;
    margin-bottom: 0px;
    margin-top: 100px;
}
h5 {
    font-weight: 400;
}
h6 {
    font-size: 1.2em;
    margin: 0 0 20px 0;
    margin-top: 30px;
}

ul {
    list-style:  none;

}
.disc {
    list-style: disc;
}
.disc li {
    margin-left: 0px;
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.3;

}
li {
    margin-left: -40px;
    padding-left: 0px;
}
.title h2 {
    margin-top: 100px;
}
button h6 {
    color: white;
    font-size: 2em;
}

.nav {
    font-family: 'Mosk', sans-serif;
    font-weight: 600;
    top: 20px;
    overflow: hidden;
    position: fixed;
    width: 100vw;
}

.nav a {
    z-index: 10;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
    color: #333447;
    text-align: center;
    padding: 14px 16px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    opacity: 0.8;
}

.nav-right a {
    float:right;
}

.spacer {
    /*background-color: white;*/
    height: 400px;
}
.spacerhalf {
    /*background-color: white;*/
    height: 100px;
}
.proj p, .proj h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.proj ul {
    list-style-type: circle;
}

.proj li {
    margin-left: 40px;
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.4;
}
a {
    color: blue;
}
.overview {
    border: solid black 2px;
    border-left: 0px ;
    border-right: 0px;
    margin: 0 0 50px 0;
}
.proj .row {
    margin-top: 10px;
}

.vid iframe {
    width: 75%;
    height: auto;
    min-height: 300px;
    min-width: 100px;
    max-width: 600px;
    margin: 0 auto;
}
.img {
    /*background-color: rgb(84, 110, 58);*/
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.bigimg {
    height: 500px;
}

#ac_homepage {
    background-image: url("./images/ac_homepage.png");
}

#ac_homepage_redarrow {
    background-image: url("./images/ac_homepage_redarrow.png");
}
#ac_boardas {
    background-image: url("./images/ac_boardas.png");
}
#breadboard {
    background-image: url("./images/breadboard.png");
}
#led-circuit {
    background-image: url("./images/led-circuit.gif");
}
#arduino-led-button{
    background-image: url("./images/arduino-led-button.png");
}
#tinkercad_login{
    background-image: url("./images/tinkercad_login.png");
}
#tinkercad_3D{
    background-image: url("./images/tinkercad_3D.png");
}
#tinkercad_blocktext {
    background-image: url("./images/tinkercad_blocktext.png");
}
#headband_electronics {
    background-image: url("./images/headband_electronics.png");
}
#headband_circuit {
    background-image: url("./images/headband_circuit.png");
}
#handcrank {
    background-image: url("https://cdn.thisiswhyimbroke.com/images/giphoscope.gif");
}
#zoetrope {
    background-image: url("https://thumbs.gfycat.com/DisfiguredGreedyAndeancat-size_restricted.gif");
}
#bananapiano {
    background-image: url("https://cdn.shopify.com/s/files/1/0162/8612/files/underImage_2400x.jpg?v=1548873305");
}
#fruitpiano {
    background-image: url("https://im6.ezgif.com/tmp/ezgif-6-50e6618c37d8.gif");
}
#cardboardarm {
    background-image: url("https://i.pinimg.com/originals/d9/89/84/d98984e920be5b685be08b81d90877ec.jpg");
}
#teachablemachine {
    background-image: url(https://teachablemachine.withgoogle.com/assets/img/contentpage/home/2017-version.jpg);
}
#rubberbandrocket{
    background-image: url("./images/rubberbandrocket.png");
}
#earringexamples{
    background-image: url("./images/earringexamples.jpg");
}

#export{
    background-image: url("./images/export.png");
}
#stl{
    background-image: url("./images/stl.png");
}
#import{
    background-image: url("./images/import.png");
}
#choosefile{
    background-image: url("./images/choosefile.png");
}
#importsettings{
    background-image: url("./images/importsettings.png");
}

#final_cookie{
    background-image: url("./images/final_cookie.png");
}
#banana_piano{
    background-image: url("./images/banana-piano.png");
}
#fruit_breadboard{
    background-image: url("./images/fruit_breadboard.png");
}
#fruit_piezo{
    background-image: url("./images/fruit_piezo.png");
}
#fruit_connect{
    background-image: url("./images/fruit_connect.png");
}
#fruit_black{
    background-image: url("./images/fruit_black.png");
}
#fruit_single{
    background-image: url("./images/fruit_single.png");
}
#fruit_multi{
    background-image: url("./images/fruit_multi.png");
}
.term {
    font-family: 'Consolas',monospace;
    background-color: rgb(235, 235, 235);
    font-weight: 200;
    padding: 1px 3px;
    font-style: normal;
}


.collapsible {
    margin: 10px 0;
  background-color: rgb(30, 92, 143);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(15, 53, 84);
}

.coll_content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(242, 248, 252);
}
ul {
    margin-left: -50px
}
button {
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(84, 125, 92);
    color: rgb(84, 125, 92);
    padding: 15px 0px;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
}
button:hover {
    color: white;
    background-color: rgb(84, 125, 92);
}
.buttons {
    max-width: 250px;
}
.col-5 ul li {
    margin-left: 10px;
}


@font-face {
    font-family: 'Mosk';
    src: url('../fonts/mosk_extra-light_200-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk';
    src: url('../fonts/mosk_semi-bold_600-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk';
    src:  url('../fonts/mosk_ultra-bold_900-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}