
body {
    background-color: white;
}
.content {
    min-width: 300px;
    max-width: 1200px;
    width: 80vw;
    margin: 0 auto;
}

#week1 h1,#week1 h2,#week1 h3 {
    color: rgb(84, 125, 92);
}
#week2 h1,#week2 h2,#week2 h3 {
    color: rgb(30, 92, 143);
}


#week3 h1,#week3 h2,#week3 h3 {
    color: rgb(145, 13, 24);
}

h1 {
    font-size: 4em;
    font-weight: 900;
    font-family: 'Mosk', sans-serif;
    margin: 0px 0px 25px 0px;

}
h2 {
    font-size: 2em;
    font-weight: 200;
    text-transform: lowercase;
    font-family: 'Mosk', sans-serif;
    margin-bottom: -10px;
}
h3 {
    font-family: 'Mosk', sans-serif;
    font-size: 2em;
    margin-bottom: 0px;
    margin-top: 100px;
}
h5 {
    font-weight: 400;
}
h6 {
    font-size: 1.2em;
    margin: 0 0 20px 0;
    margin-top: 30px;
}

ul {
    list-style:  none;

}
li {
    margin-left: -40px;
    padding-left: 0px;
}
.title h2 {
    margin-top: 100px;
}
button h6 {
    color: white;
    font-size: 2em;
}

.nav {
    font-family: 'Mosk', sans-serif;
    font-weight: 600;
    top: 20px;
    overflow: hidden;
    position: fixed;
    width: 100vw;
}

.nav a {
    z-index: 10;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
    color: #333447;
    text-align: center;
    padding: 14px 16px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    opacity: 0.8;
}

.nav-right a {
    float:right;
}

.spacer {
    /*background-color: white;*/
    height: 400px;
}
.spacerhalf {
    /*background-color: white;*/
    height: 100px;
}
.proj p, .proj h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.proj ul {
    list-style-type: circle;
}

.proj li {
    margin-left: 40px;
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.4;
}
a {
    color: blue;
}
.overview {
    border: solid black 2px;
    border-left: 0px ;
    border-right: 0px;
    margin: 0 0 50px 0;
}
.proj .row {
    margin-top: 10px;
}

.img {
    /*background-color: rgb(84, 110, 58);*/
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.bigimg {
    height: 500px;
}

#ac_homepage {
    background-image: url("./images/ac_homepage.png");
}

#ac_homepage_redarrow {
    background-image: url("./images/ac_homepage_redarrow.png");
}
#ac_boardas {
    background-image: url("./images/ac_boardas.png");
}
#breadboard {
    background-image: url("./images/breadboard.png");
}
#led-circuit {
    background-image: url("./images/led-circuit.gif");
}
#arduino-led-button{
    background-image: url("./images/arduino-led-button.png");
}
#tinkercad_login{
    background-image: url("./images/tinkercad_login.png");
}
#tinkercad_blocktext {
    background-image: url("./images/tinkercad_blocktext.png");
}
#headband_electronics {
    background-image: url("./images/headband_electronics.png");
}
#headband_circuit {
    background-image: url("./images/headband_circuit.png");
}
#handcrank {
    background-image: url("https://cdn.thisiswhyimbroke.com/images/giphoscope.gif");
}
#zoetrope {
    background-image: url("https://thumbs.gfycat.com/DisfiguredGreedyAndeancat-size_restricted.gif");
}
#bananapiano {
    background-image: url("https://cdn.shopify.com/s/files/1/0162/8612/files/underImage_2400x.jpg?v=1548873305");
}
#fruitpiano {
    background-image: url("https://im6.ezgif.com/tmp/ezgif-6-50e6618c37d8.gif");
}
#cardboardarm {
    background-image: url("https://i.pinimg.com/originals/d9/89/84/d98984e920be5b685be08b81d90877ec.jpg");
}
#teachablemachine {
    background-image: url(https://teachablemachine.withgoogle.com/assets/img/contentpage/home/2017-version.jpg);
}

.term {
    font-family: 'Consolas',monospace;
    background-color: rgb(235, 235, 235);
    font-weight: 200;
    padding: 1px 3px;
    font-style: normal;
}


.collapsible {
    margin: 10px 0;
  background-color: rgb(30, 92, 143);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(15, 53, 84);
}

.coll_content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(242, 248, 252);
}



@font-face {
    font-family: 'Mosk';
    src: url('../fonts/mosk_extra-light_200-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk';
    src: url('../fonts/mosk_semi-bold_600-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mosk';
    src:  url('../fonts/mosk_ultra-bold_900-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}